<!doctype html>
<html lang="pt">
  <head>
    <title>Docker</title>
    <meta content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body> 
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="card text-center">
          <div class="card-header">
            <h1 class="display-3">DOCKER SWARM</h1>
            <p class="lead">Esse é um exemplo de um app executando em docker swarm, com um servidor master e dois nodes</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>